@font-face
{
    font-family:"Nunito Sans";
    src:url("/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
    font-weight:200 1000;
    font-style:normal;
    font-display:swap;
}
